<div class="imej-help-header-container">
  <div class="imej-help-header-title">
    <h1 class="imej-help-header-title-text">
      帮助
    </h1>
  </div>
  <div class="imej-help-header-info">
    <div class="imej-help-header-count">
      <div class="imej-help-header-count-top">
        {{slots.count.top}}
      </div>
      <div class="imej-help-header-count-total">
        /
        {{slots.count.total}}
      </div>
    </div>
    <div>条指令</div>
  </div>
</div>
